.navigation-bar {
  width: 100%;
  height: 150px;
  margin-top: 40px;
  background-color: #d0d0d0;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 275px;
  height: 114px;
  margin-left: 20px;
  margin-top: 12px;
  float: left;
}

.navigation-bar > a {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  height: 17px;
  line-height: 150px;
  color: #03a3df;
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  font-weight: bold;
  float: right;
}

navigation-bar:hover{
  color: #444444;
}

h2 {
  color: #03a3df;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

h3 {
  color: #03a3df;
  font-size: 17px;
  font-weight: bold;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: white;
}

aside {
  width : 20%;
  height : 640px;
  font-family: 'Arial', sans-serif;
}

.location-information {
  background-color: #ecb722;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-top: 4rem;
}

.upcoming-classes {
  background-color: #ecb722;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-top: 4rem;
}

body {
  background-color: #444444;
}

#wholepage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.founder {
  width: 20%;
}

.founder-image {
  width: 60%;
  height: auto;
  padding: 5rem;
  border-top: 30px solid #03a3df;
}

.founder-text {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: justify;
}

.founder-header {
  margin: 5rem 5rem;
}

#footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70%;
}

.footer-image {
  height: 70%;
}

.footer-logo {
  position: absolute;
}

.footer-text {
  position: absolute;
  padding-top: 10rem;
  padding-left: 1rem;
}

.footer-copyright {
  position: absolute;
  padding-top: 20rem;
  padding-left: 1rem;
}

.instructor-1 {
  width: 10%;
  height: auto;
  padding: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 3rem;
  border-top: 30px solid #03a3df;
}

.instructor-2 {
  width: 10%;
  height: auto;
  padding: 3rem;
  margin-left: 3rem;
  margin-right: 5rem;
  margin-top: 3rem;
  border-top: 30px solid #03a3df;
}

.instructor-3 {
  width: 10%;
  height: auto;
  padding: 3rem;
  margin-left: 3rem;
  margin-top: 3rem;
  border-top: 30px solid #03a3df;
}

.instructor-image-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.instructor-image-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.instructor-image-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.instructor-1-text {
  text-align: left;
  font-size: 17px;
  font-family: 'Arial', sans-serif;
}

.instructor-2-text {
  text-align: left;
  font-size: 17px;
  font-family: 'Arial', sans-serif;
}

.instructor-3-text {
  text-align: left;
  font-size: 17px;
  font-family: 'Arial', sans-serif;
}
