<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Archery Academy</title>
</head>

.navigation-bar {
  width: 100%;
  height: 80px;
  background-color: #444444;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 138px;
  height: 57px;
  margin-left: 20px;
  margin-top: 22px;
}

.navigation-bar > a {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  height: 17px;
  line-height: 80px;
}

</html>
